
@layer components {

    body {
        @apply transition-all duration-200 ease-in
    }

    /* Code Version */
    body.code {
        background-image: none;
        @apply text-neutral-300 bg-gray-900 cursor-help
    }
    .code a, .code nav *, .code nav svg, .code nav svg path {
        @apply text-green-400 fill-green-400 !important
    }
    .code nav, .code .section, .code .project .title, .code #theme-toggle {
        font-family: 'JetBrains Mono', monospace;
    }

    .code #type-text {
        font-family: 'JetBrains Mono', monospace;
        @apply bg-green-400 text-black
    }

    .code .project .title.secondary {
    @apply font-extrabold
    }

    #matrix {
        @apply w-full h-full fixed top-0 left-0 -z-10 opacity-0
    }
    .code #matrix {
        @apply opacity-20
    }
}
