<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8">
    <meta property="og:title" content="Miguel Solorio">
    <meta property="og:description" content="Software designer and developer working at Microsoft">
    <meta property="og:url" content="https://miguelsolorio.com">
    <title>{{ .Site.Title }}</title>
    {{ $styles := resources.Get "css/main.css" }}
    {{ $styles = $styles | resources.PostCSS (dict "inlineImports" true) }}
    <link href="{{ $styles.Permalink }}" rel="stylesheet" />
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>👋</text></svg>">
</head>

<body>
    {{/*  Container  */}}
    <div class="container mx-auto">
        <div class="flex items-center p-6">
            <div class="ml-auto">
                {{ partial "navigation"  . }}
            </div>
        </div>