<intro>
    <profile>
        <img src="profile.jpg" alt="Miguel Solorio">
        <img src="profile2.gif" alt="Miguel Solorio">
        <img src="profile3.jpg" alt="Miguel Solorio">
    </profile>
    <div>
        <p><span id="wave">👋</span> Hello, my name is</p>
        <h1>Miguel Solorio</h1>
        <p>I'm a <strike>software</strike> product designer living in the Pacific Northwest, currently focused on design systems. Passionate about tooling and bridging the gap between design && <a id="code" href="https://github.com/miguelsolorio" target="_blank">code</a>.</p>
    </div>
</intro>